nav
  padding: .5em
  @include container(45em)

  ul
    list-style-type: none
    margin: 0
    padding-left: 0

    li
      text-align: center
      @include span(3)

      &:last-child
        @include span(3 last)

      a
        color: $dark

      &.current a
        text-decoration: none
        color: $green + #333
