a
  @include link-colors($dark, $blue, $blue + #444, $silver, $blue)
  &.icon-link
    display: inline-block
    text-decoration: none
    margin-bottom: 0
    span
      text-decoration: underline

  &:hover
    @include color-transition($blue)
