a
  @include link-colors($dark, $green, $green + $dark, white - $dark, $green)
  &.icon-link
    display: inline-block
    text-decoration: none
    margin-bottom: 0
    span
      text-decoration: underline

  &:hover
    @include color-transition($green)
