ul.portfolio-gallery
  @include container()
  list-style-type: none
  color: white
  padding: 0

  li.slide
    @include span(6)
    background: rgba(0, 0, 0, 0.75)
    margin-bottom: gutter()

    &:nth-child(even)
      @include span(6 last)

    a
      color: white
      text-decoration: none

    .container
      padding: 0.75em

    .date-start, .date-end, ul.tags
      font-size: 0.8em

    .date-start
      @include span(6)

    .date-end
      @include span(6 last)
      text-align: right
