@import 'susy'
@import 'compass/layout/sticky-footer'
@import 'normalize-scss'

@include sticky-footer(54px, "footer")

body
  font-family: Helvetica Neue, Arial, Roboto, sans-serif

.content
  @include container(80em)
  min-height: span(3 of 9)

header
  background-color: green
  color: white
  @include span(12)
  margin-top: -22px

footer
  background-color: green
  color: white
  @include span(12)
